#loading-spinner div {
    width: 3.5rem;
    height: 3.5rem;
}
.my-border {
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    padding-top: 10px;
}
/* my-card-design */
.cd-bg {
    background: linear-gradient(to right, #f7f7f7, #e9ecef);
}
.player-cards {
    transition: 0.3s all ease-in-out;
    border-radius: 15px;
    overflow: hidden;
}
.player-cards:hover {
    transform: scale(1.02);
}
.player-cards img {
    height: 300px;
    object-fit: cover;
}

/* my-button-design */
.my-btn {
    width: 48%;
    border-radius: 50px;
    color: #f7f7f7;
}
.my-btn-primary {
    background: linear-gradient(45deg, #0056b3, #0096f2);
}
.my-btn-primary:hover {
    background: linear-gradient(45deg, #1e7e34, #00e06a);
}
.my-btn-success {
    background: linear-gradient(45deg, #1e7e34, #00e06a);
}
.my-btn-success:hover {
    background: linear-gradient(45deg, #0056b3, #0096f2);
}

.modal-img {
    height: 300px;
    object-fit: cover;
}

.cart-border {
    border-bottom: 1.5px dotted #0056b3;
}

button:disabled {
    background: linear-gradient(45deg, #1e7e34, #00e06a);
    font-weight: bold;
    cursor: not-allowed;
    box-shadow: none;
}

.c-pointer {
    cursor: pointer;
}
